

<!DOCTYPE html>
<html lang="en" >
    
<head>
  <meta charset="UTF-8">
  
  <title>G-Katalog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700'>
      <link rel="stylesheet" type="text/css" href="../public/style.css">

  
</head>


<body><header >

  <div class ="logo"><p class="neon" style="font-size: 35px;">G-Katalog</p></div>
  <div class="container">
  <input type="text" placeholder="Search...">
  <div class="search"></div>
</div>


<ul>
  <li>
      <a href="#">Action
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </a>
  </li>
  <li>
      <a href="#">RPG
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </a>
  </li>
  <li>
      <a href="#">Adventure
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </a>
  </li>
  <li>
      <a href="#">Racing
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </a>
  </li>
  <li>
    <a href="#">Sport
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
</li>
</ul>
  
</header>

<main>
       <center> <p class="neon"> <%= GameName %> </p></center>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item" style="margin-left:50px">
                <div class="box">
                  <a href="#" data-toggle="modal" data-target="#4">
                    <img src="https://i.ytimg.com/vi/dxILGgZsfgM/maxresdefault.jpg">
                  </a>
                  <div class="modal fade" id="4" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <div class="modal-body">
                          <img src="https://i.ytimg.com/vi/dxILGgZsfgM/maxresdefault.jpg">
                        </div>
                          <div class="col-md-12 description">
                            <h4>This is the fourth one on my Gallery</h4>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <script>
              
              function addTable() {
                    var table = document.getElementById('productTable');
                    var data = dataToTable();
                    for (var i = 0; i < data.length; i++) {
                      var tr = document.createElement('tr');
                      table.appendChild(tr);
                      for (var fld in data[i]) {
                        var td = document.createElement('td');
                        tr.appendChild(td);
                        td.innerText = data[i][fld];
                      }
                    }
                  }
                  </script>
    <div class="container123">
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table id="productTable" class="table table-striped custab">
        <thead>
            <tr>
                
                <th>Mart</th>
                <th>Price</th>

            </tr>
        </thead>
        <% listofGames.forEach(function(item) { %>
        <tr>
          <th><%= item.internetMart %></th>
          <th><%= item.Price %></th>
        </tr>
        <% }); %>        



        </table>
        </div>
    </div>
    

    <div class="containerx section">
            <div class="row">
                <div class="col-md-6">
                    <h3>
                            Описание игры Metro 2033

                    </h3>
                    <p>
                      Метро в Москве – самое большое противоатомное бомбоубежище на планете, в котором скрываются выжившие люди после Третьей мировой войны, спустя двадцать лет. Поверхность Земли заражена и неблагоприятна для жизни. Станции метро превращаются в независимые государства, воюющие друг с другом. И даже угроза новой смертельной опасности не в силах их примирить. Молодой парень ради спасения своего дома и человечества в целом должен пройти через все метро. 

                      Культовый российский бестселлер завоевал сердца миллионов, заинтересовал Голливуд, был переведен на 37 языков мира.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="http://www.pbsgameteam.com/wp-content/uploads/2017/02/CLOXQrh.png" alt=""/>
                </div>
            </div>
            
        </div>

        <main>
        
                <!--MDB Video-->
                <div class="containerx mt-4">
        
                    <!-- Grid row -->
                    <div class="row">
                    
                        <!-- Grid column -->
                        <div class="col-md-12 mb-4">
                    
                            <div class="card">
                                <div class="card-block p-3">
                                    <!--Title-->
                                    <h3 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>Responsive video</strong></h3>
        
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7NTKO4Y-JmY" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <!-- Grid column -->
                    
                    </div>
                    <!-- Grid row -->

                    <div class="container123">
                            <div class="row col-md-6 col-md-offset-2 custyle">
                            <table class="table table-striped custab">
                            <thead>
                                <tr>
                                    
                                    <th>Mart</th>
                                    <th>Price</th>
                    
                                </tr>
                            </thead>
                                    <tr>
                                        
                                        <td>OS</td>
                                        <td><%= OS %></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td>Capacity</td>
                                        <td><%= Capacity %></td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td>CPU</td>
                                        <td><%= CPU %></td>
                                        
                                    </tr>

                                    <tr>
                                        
                                      <td>GPU</td>
                                      <td><%= GPU %></td>
                                      
                                  </tr>
                                  <tr>
                                        
                                    <td>RAM</td>
                                    <td><%= RAM %></td>
                                    
                                </tr>
                            </table>
                            </div>
                        </div>
</main>

 <footer>
    
  <div class="containerx">
    <div class="row text-center">
    
              <div class="col-md-6 col-sm-6 col-xs-12">
               <ul class="list-inline">
                          
                            <li>
                                 <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            </li>
                            
                            <li>
                              <a href="#"><i class="fa fa-vk fa-2x"></i></a>
                         </li>
                           
                            <li>
                                 <a href="#"><i class="fa fa-github fa-2x"></i></a>
                            </li>

                            <li>
                                 <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                           </li>
                           
                  </ul>
                </div>
        
              <div class="col-md-6 col-sm-6 col-xs-12">
               <ul class="menu list-inline">
                          
                      <li>
                         <a href="#">Home</a>
                       </li>
                            
                       <li>
                          <a href="#">About</a>
                       </li>
                            
                       <li>
                         <a href="#">Blog</a>
                       </li>
                            
                       <li>
                          <a href="#">Gallery </a>
                       </li>
                            
                       <li>
                         <a href="#">Contact</a>
                      </li>
            
              </ul>
            </div>
        
        
        </div> 
     </div>
</footer>

 <div class="copyright">
  <div class="containerx">
    
      <div class="row text-center">
            <hr class="hr">
          <p>Copyright © 2019 All rights reserved</p>
      </div>
      
     </div>
 </div>


</body>
</html>
